<section class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 d-flex align-items-center">
                <div class="hero__content">
                    <h2 class="hero__title">
                        <strong>Отделка помещений</strong><br>в Нижнем Новгороде и области</h2>
                    <div class="hero__desc">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали
                        от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                    </div>
                    <button class="hero__button button button_cta button_inverse side-menu-button" data-target="#contacts-menu">
                        <span class="button__text">
                            Узнать подробнее
                        </span>
                        <i class="fas fa-arrow-right button__icon button__icon_right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>